* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #636363d2;

}

a {
    text-decoration: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(7, 91, 124);

}

header {
    display: inline;
    justify-content: space-between;
    align-items: center;

}

nav ul a:hover {
    color: rgb(25, 168, 173);
}

img{
    border-radius: 2px black;
    margin: 30px;
}
h2 {

    padding: 5px;
    margin: 0;
}

video {
    height: 400px;
    width: 100%;
}

.leyenda {
    background-color: rgba(89, 114, 134, 0.402);
    font-size: 20px;
    border: solid 2px;
    margin: 40 50 40 50;
}



.marca {
    background-color: rgb(53, 125, 226);
    color: black;
    border: solid 1px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.ubi {
    color: rgb(160, 160, 240);
    display: inline-block;
    margin: 60px
}

.contact {
    display: inline-block;
    padding: 20px;
    margin: 30 40 30 40;

}

.comentario {
    height: 275px;
    width: 328px;
    overflow: hidden;
}

.parrafo {
    background-color: rgb(10, 38, 48);
    color: black;
    border-radius: 11px;
    display: inline-block;
    margin-top: 10px;
    padding-left: 25px;
}

.titulonosotros {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

footer div a:hover {
    transform: scaled(3.0);
    transition: .2s;
    color: rgb(25, 168, 173)
}

.informacionFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    padding: 1px;

}

.informacionFooter a {
    padding: 2%;
}


/* GRID */
.container {
    display: grid;
    margin-top: 0%;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "logoNav logoNav logoNav"
        "Section Section article"
        "Section Section article"
        "footer footer footer";
}

.logoNav {
    grid-area: logoNav;
    background-color: rgba(240, 248, 255, 0.253);
    margin: 0%;
}

.footer {
    grid-area: footer;
    margin-top: 10%;
    background-color: #857e7e;
    padding: 2%;
    height: 10vh;

}

.Section {
    grid-area: Section;
    font-size: 20px;
    text-align: justify;
    margin-top: 5%;
    padding: 10px;
    box-shadow: 7px 7px 15px #dadada9d;
    background-color: #909597;
}

.article {
    grid-area: article;
    margin-top: 20%;


}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #757575;
}

.navegador li {
    margin-top: 3%;
    list-style: none;
    text-align: center;
    margin-left: 1px;
}

.navegador ul img {
    margin-top: 0%;
    padding: 0%;
}

/* -----NUEVOS----- */

.nuevos2 {
    display: grid;
    grid-auto-flow: row;
    margin-top: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". . ."
        "imgv imgv info2"
        "imgv imgv info2"
        ". . .";
}

.info2 {
    grid-area: info2;
    padding: 3%;
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 10%;
}

.imgv {
    grid-area: imgv;
    margin-top: 6%;
    margin-left: 1%;
    display: inline-block;
    margin-bottom: 5%;
    padding: 4%;
    box-shadow: 7px 7px 15px #000000
}

.imgv img {
    box-shadow: 7px 7px 15px #000000
}

/* -----POSTVENTA----- */
.postventa {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "infopost imagen imagen"
      "imagen2 imagen2 infopost2"
    ". . .";
    align-items: end;
    justify-content: center;
    align-content: stretch;
    justify-items: end;
  }

  
  .infopost {
     grid-area: infopost;
     padding: 3%;
     font-size: 25px;
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 10%;
 }
  
  .imagen { grid-area: imagen;
    
    margin-left: 1%;
    display: inline-block;
    margin-bottom: 5%;
    padding: 4%;
    box-shadow: 7px 7px 15px #000000 }
  
  .imagen2 { grid-area: imagen2; 
    margin-top: 6%;
    margin-left: 1%;
    display: inline-block;
   
    padding: 4%;
    box-shadow: 7px 7px 15px #000000
}
  
  .infopost2 { grid-area: infopost2;
    font-size: 25px;
    padding: 3%;
    margin-top: 10%;
    display: inline-block;
    margin-bottom: 10%;
 }
  


/* --------RESPONSIVE------ */

@media (max-width: 600px) {
    .navegador {
        display: flex;
        flex-direction: column;
       

    }

    .navegador img {
        margin-left: auto;
        margin-right: auto;

    }

    .article {
        display: none;

    }

    .section {
        margin-left: 50%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 30px 250px 30px 250px;
    }

    .nuevos2{
        margin: auto;
    }
}